:root {
  --main-color: rgb(45, 64, 100);
  --second-color: #ffffff;
  --grey-color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}
