@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Fira Code', monospace;
font-family: 'Inter', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive {
  @apply container mx-auto px-60
}

:root{
  --bg-color : #0c192f;
  --main-color: #0c192f;
  --second-color: #8992b1;
  --thrid-color: #cdd6f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #7d87a4;
}

body {
  background-color: var(--bg-color);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: #0a192f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7f8bad;
  border-radius: 100vh;
}